{% extends "layout.html" %}


{% block content %}
    <h1>{{ title }}</h1>
    <h3>Edit answer</h3>
    <form action="{{ url_for('edit_answer', answer_id=answer_id, question_id=question_id) }}" method="POST">
        {% for answer in answers %}
            <p>
                <textarea name="message" cols="30" rows="10" value="" utofocus required>{{ answer["message"] }}</textarea>
            </p>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>

    <p>
        <a href="{{ url_for('display_question', question_id=question_id) }}">Go back to question</a>
    </p>


{% endblock %}